.HideMenu{
    display:none;
}
.LocationMenu {
    position: absolute;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: auto;
    width: calc(100% - 93%)
}
.CardMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.Back{
    font-size: 11px;
}